In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1,2,3])
s1 = pd.Series({1:1,2:2,3:3})
s2 = pd.Series((1,2,3,4))
print(s)
print(s1)
print(s2)

0    1
1    2
2    3
dtype: int64
1    1
2    2
3    3
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64

In [3]:
c = pd.Series(['a',1,1.4])
c

0      a
1      1
2    1.4
dtype: object

In [7]:
s = pd.Series(range(10,14))
s

0    10
1    11
2    12
3    13
dtype: int64

In [9]:
range

range(10, 14)

In [10]:
np.arange(200)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199])

In [11]:
s2=pd.Series(np.arange(200))
s2

0        0
1        1
2        2
3        3
4        4
      ...
195    195
196    196
197    197
198    198
199    199
Length: 200, dtype: int32

In [12]:
s=pd.Series([1,2,3,4,np.nan,6,8])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
6    8.0
dtype: float64

In [34]:
s_int = s.apply(lambda x: int(x) if not pd.isna(x) else x)
print(s_int)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
6    8.0
dtype: float64

In [35]:
s_p = s.fillna(-1).astype(int)
s_p

0    1
1    2
2    3
3    4
4   -1
5    6
6    8
dtype: int32

In [44]:
s_d = s.dropna().astype(int).reset_index()
s_d

   index  0
0      0  1
1      1  2
2      2  3
3      3  4
4      5  6
5      6  8

In [48]:
s=pd.Series([10,20,30], index=[1,2,3])
s

1    10
2    20
3    30
dtype: int64

In [47]:
s=pd.Series([95,100,88], index=['홍길동','김수낙','김멀희'])
s

홍길동     95
김수낙    100
김멀희     88
dtype: int64

In [50]:
s=pd.Series([10,20,30], index=[1,2,3])
s.index

Index([1, 2, 3], dtype='int64')

In [95]:
s1=pd.Series([10,20,30])
s1.index.name ='인덱스' 
s1.name='데이터'
print(s1)

인덱스
0    10
1    20
2    30
Name: 데이터, dtype: int64

In [98]:
s= pd.Series([9904312,3448737,289045,2466052], index=["서울","부산","인천","대구"])
s.index.name ='광역시'
s.name ='인구'
s

광역시
서울    9904312
부산    3448737
인천     289045
대구    2466052
Name: 인구, dtype: int64

In [100]:
s['인천']
s[2]

C:\Users\hhhmh\AppData\Local\Temp\ipykernel_80936\3903544318.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[2]

289045

In [106]:
s03 = pd.Series([1,2,3], index=[1,2,3])
s03
s['부산'],s[0]

C:\Users\hhhmh\AppData\Local\Temp\ipykernel_80936\1373838707.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s['부산'],s[0]

(3448737, 9904312)

In [107]:
s
s

광역시
서울    9904312
부산    3448737
인천     289045
대구    2466052
Name: 인구, dtype: int64