In [3]:
import sklearn
sklearn.__version__

'1.6.1'

In [1]:
import pandas as pd
df = pd.read_csv('./titanic_train.csv', encoding='utf-8')
df
print(dir(df))

['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId', 'Pclass', 'Sex', 'SibSp', 'Survived', 'T', 'Ticket', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__arrow_c_stream__', '__bool__', '__class__', '__contains__', '__copy__', '__dataframe__', '__dataframe_consortium_standard__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__firstlineno__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__static_attributes__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_arith_method_with_reindex', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_from_mgr', '_constructor_sliced', '_constructor_sliced_from_mgr', '_create_data_for_split_and_tight_to_dict', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_flex_arith_method', '_flex_cmp_method', '_from_arrays', '_from_mgr', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values_for_csv', '_getitem_bool_array', '_getitem_multilevel', '_getitem_nocopy', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_logical_func', '_logical_method', '_maybe_align_series_as_frame', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_shift_with_freq', '_should_reindex_frame_op', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull', 'items', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#정규표현식을 통해서 title 분리
df['title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:2: SyntaxWarning: invalid escape sequence '\.'
C:\Users\user\AppData\Local\Temp\ipykernel_17612\2183319921.py:2: SyntaxWarning: invalid escape sequence '\.'
  df['title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [5]:
df = df.drop(columns=['Name','Parch', 'SibSp', 'Ticket', 'Cabin'])

In [6]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age     Fare Embarked title
0            1         0       3    male  22.0   7.2500        S    Mr
1            2         1       1  female  38.0  71.2833        C   Mrs
2            3         1       3  female  26.0   7.9250        S  Miss
3            4         1       1  female  35.0  53.1000        S   Mrs
4            5         0       3    male  35.0   8.0500        S    Mr

In [7]:
df.info()
print(df['Embarked'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   Fare         891 non-null    float64
 6   Embarked     889 non-null    object
 7   title        891 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 55.8+ KB
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [8]:
df[df['Embarked'].isnull()]

     PassengerId  Survived  Pclass     Sex   Age  Fare Embarked title
61            62         1       1  female  38.0  80.0      NaN  Miss
829          830         1       1  female  62.0  80.0      NaN   Mrs

In [ ]:
# 결측치 보간하는 메서드 .interpolate()
# 이번과 같은 범주형 데이터에는 적합하지 않음 -> 라벨링으로 숫자로 바꾼다고해도 중간값이 특별한 의미를 가지지 않음
# 결측값을 제외한 다른 종속변수의 값이 같은 행의 embarked데이터를 활용
# df['Embarked'] = df['Embarked'].interpolate()

C:\Users\user\AppData\Local\Temp\ipykernel_24400\1911536600.py:4: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df['Embarked'] = df['Embarked'].interpolate()

In [9]:
#최빈값을 넣는것으로 하기로 정했음

#결측값 있는 데이터 찾기

missing_data = df['Embarked'].isnull()

for idx in df[missing_data].PassengerId:
	Pclass = df.loc[df['PassengerId']==idx, 'Pclass'].values[0]
	
	missing = df[
	(df['Pclass'] == Pclass) &
	(df['Embarked'].notnull())
	]

	if not missing.empty:
		df.loc[df['PassengerId']==idx, 'Embarked'] = missing['Embarked'].mode()[0]

print(missing['Embarked'].mode()[0])
print(df['Embarked'].value_counts())

S
Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [10]:
#모든 결측값을 최빈값으로 채워넣었음
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   Fare         891 non-null    float64
 6   Embarked     891 non-null    object
 7   title        891 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 55.8+ KB

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
new_col = ['labeled_Sex', 'labeled_title']
df[new_col] = df[['Sex','title']].apply(le.fit_transform)
df

,PassengerId,Survived,Pclass,Sex,Age,Fare,Embarked,title,labeled_Sex,labeled_title
0,1,0,3,male,22.0,7.2500,S,Mr,1,12
1,2,1,1,female,38.0,71.2833,C,Mrs,0,13
2,3,1,3,female,26.0,7.9250,S,Miss,0,9
3,4,1,1,female,35.0,53.1000,S,Mrs,0,13
4,5,0,3,male,35.0,8.0500,S,Mr,1,12
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,13.0000,S,Rev,1,15
887,888,1,1,female,19.0,30.0000,S,Miss,0,9
888,889,0,3,female,NaN,23.4500,S,Miss,0,9
889,890,1,1,male,26.0,30.0000,C,Mr,1,12
890,891,0,3,male,32.0,7.7500,Q,Mr,1,12

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    891 non-null    int64
 1   Survived       891 non-null    int64
 2   Pclass         891 non-null    int64
 3   Sex            891 non-null    object
 4   Age            714 non-null    float64
 5   Fare           891 non-null    float64
 6   Embarked       891 non-null    object
 7   title          891 non-null    object
 8   labeled_Sex    891 non-null    int64
 9   labeled_title  891 non-null    int64
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

In [18]:
#sex와 title 라벨링 [범주형 데이터 -> 정수형 데이터]
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
new_col = ['labeled_Sex', 'labeled_title', 'labled_Embarked']
df[new_col] = df[['Sex','title', 'Embarked']].apply(le.fit_transform)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerId      891 non-null    int64
 1   Survived         891 non-null    int64
 2   Pclass           891 non-null    int64
 3   Sex              891 non-null    object
 4   Age              714 non-null    float64
 5   Fare             891 non-null    float64
 6   Embarked         891 non-null    object
 7   title            891 non-null    object
 8   labeled_Sex      891 non-null    int64
 9   labeled_title    891 non-null    int64
 10  labled_Embarked  891 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 76.7+ KB

In [ ]:
#Age에 대한 회귀분석
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score


#sex와 title 라벨링 [범주형 데이터 -> 정수형 데이터]
le = LabelEncoder()
new_col = ['labeled_Sex', 'labeled_title', 'labled_Embarked']
df[new_col] = df[['Sex','title', 'Embarked']].apply(le.fit_transform)

features = ['Pclass', 'labeled_Sex', 'labeled_title', 'labled_Embarked']

#Age결측치가 있어서 notnull값만 가지고 훈련 진행
age_notnull = df['Age'].notnull()
X_train, X_test, y_train, y_test = train_test_split(df[age_notnull][features], df[age_notnull]['Age'],
                                                      test_size=0.2, random_state=1)

#선형 회귀
model = LinearRegression()
model.fit(X_train, y_train)

#Age가 없는 데이터 예측
X_test = df[df['Age'].isnull()][features]
pred_age = model.predict(X_test)
pred_age = pred_age.astype(int) #소수점 버림, 정수 형 변환

df.loc[df['Age'].isnull(), 'Age'] = pred_age

In [ ]:
#결측치 모두 채움
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerId      891 non-null    int64
 1   Survived         891 non-null    int64
 2   Pclass           891 non-null    int64
 3   Sex              891 non-null    object
 4   Age              891 non-null    float64
 5   Fare             891 non-null    float64
 6   Embarked         891 non-null    object
 7   title            891 non-null    object
 8   labeled_Sex      891 non-null    int64
 9   labeled_title    891 non-null    int64
 10  labled_Embarked  891 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 76.7+ KB

In [62]:
from sklearn.model_selection import cross_val_score
#선형 회귀
model = LinearRegression()

X_train, X_test, y_train, y_test = train_test_split(df[features], df['Age'],
                                                    test_size=0.2, random_state=2)

model.fit(X_train, y_train)
pred = model.predict(X_test)

cv_score=cross_val_score(model, df[features], df['Age'], cv=5, scoring='r2')
print(f'교차검증 점수 :{cv_score}')
print(f'교차검증 평균 점수 :{cv_score.mean():.4f}')

교차검증 점수 :[0.35807863 0.24269895 0.33205685 0.237091   0.21304859]
교차검증 평균 점수 :0.2766

In [63]:
#랜덤 포레스트
model = RandomForestRegressor(n_estimators=150, random_state=22)

X_train, X_test, y_train, y_test = train_test_split(df[features], df['Age'],
                                                    test_size=0.2, random_state=2)

model.fit(X_train, y_train)
pred = model.predict(X_test)

cv_score=cross_val_score(model, df[features], df['Age'], cv=5, scoring='r2')
print(f'교차검증 점수 :{cv_score}')
print(f'교차검증 평균 점수 :{cv_score.mean():.4f}')

교차검증 점수 :[0.42605555 0.34790873 0.407631   0.42236326 0.41122919]
교차검증 평균 점수 :0.4030

In [50]:
#피처 중요도 평가
#두개의 회귀 모델의 지표가 너무 낮아 중요도 평가해보기로 함

X_train, X_test, y_train, y_test = train_test_split(df[features], df['Age'],
                                                    test_size=0.2, random_state=21)

model = RandomForestRegressor(random_state=21)
model.fit(X_train,y_train)

#특성 별 중요도 확인
feature_importances = pd.DataFrame({
  'Feature' : features,
	'Importance' : model.feature_importances_
}).sort_values(by='Importance', ascending=False)

print(feature_importances)

           Feature  Importance
2    labeled_title    0.541363
0           Pclass    0.359173
3  labled_Embarked    0.058682
1      labeled_Sex    0.040782

In [60]:
#일반적으로 0.1 (10%) 이상이면 의미 있는 특성으로 간주
#0.02-0.1은 약한 영향
#0.02 미만은 거의 영향 없음
#따라서 Pclass, labeled_title 두개를 가지고 다시한번 예측

feature_mod = ['Pclass','labeled_title']

X_train, X_test, y_train, y_test = train_test_split(df[feature_mod], df['Age'], 
                                                    test_size=0.2, random_state=23)

model1 = LinearRegression()
model2 = RandomForestRegressor(n_estimators=135, random_state=22)

model1.fit(X_train, y_train)
model2.fit(X_train, y_train)

pred_linear = model1.predict(X_test)
pred_forest = model2.predict(X_test)

li_cv_score=cross_val_score(model1, df[feature_mod], df['Age'], cv=5, scoring='r2')
print(f'리니어 교차검증 평균 점수 :{li_cv_score.mean():.4f}')

ran_cv_score=cross_val_score(model2, df[feature_mod], df['Age'], cv=5, scoring='r2')
print(f'랜덤 포래스트 평균 점수 : {ran_cv_score.mean():.4f}')

리니어 교차검증 평균 점수 :0.2741
랜덤 포래스트 평균 점수 : 0.4052

In [ ]:
import seaborn as sns