In [ ]:
#pymysql설치
%pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
#모듈 임포트
import pymysql

#db 연결
'''
주요 파라미터
host : 접속할 mysql server 주소
port : 접속할 mysql server 의 포트 번호
user : mysql ID
passwd : mysql ID의 암호
db : 접속할 데이터베이스
charset='utf8' : mysql에서 select하여 데이타를 가져올 때 한글이 깨질 수 있으므로 연결 설정에 넣어줌
'''
db = pymysql.connect(host='localhost', port=3306,user='root',passwd='1234', charset='utf8')

In [ ]:
#접속 완료
db
#<pymysql.connections.Connection at 0x26b3f2f9040>

In [ ]:
'''
MySQL 접속이 성공하면, Connection 객체로부터 cursor() 메서드를 호출하여 Cursor 객체를 가져옴
Cursor 객체의 execute() 메서드를 사용하여 SQL 문장을 DB 서버에 전송

DB 생성
Cursor Object 가져오기: cursor = db.cursor()
SQL 실행하기: cursor.execute(SQL)
실행 mysql 서버에 확정 반영하기: db.commit()
'''

In [ ]:
#커서 가지고 오기
cursor = db.cursor()

In [ ]:
sql = 'create database IF NOT EXISTS ecommerce'
cursor.execute(sql)
#반환값 1은 명령이 수행됐다는것만을 의미, 실제로 새로 생성됐는지에 대한 결과는 알 수 없다.
#반환값 0은 예외를 나타내거나, SELECT의 경우 조건에 맞는행이 없어 반환값이 0 이거나, INSERT,UPDATE등의 명령에서
#실제로 변경된 값이 없으면 0을 반환하기도 한다.

1

In [ ]:
sql ='show databases'
cursor.execute(sql)
result = cursor.fetchall() #결과 행의 수를 확인하는 fetchall메서드
result

(('ecommerce',),
 ('employees',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sqldb',),
 ('sys',),
 ('world',))

In [ ]:
sql = 'use ecommerce' #현재 ecommerce데이터베이스를 쓰고있어서 변경이 없기떄문에 0반환
cursor.execute(sql)

0

In [9]:
sql = 'select database()'
cursor.execute(sql)
result = cursor.fetchall()
result

(('ecommerce',),)

In [11]:
#cursor 는 control structure of database 임 (연결된 객체)
sql = """
		CREATE TABLE IF NOT EXISTS product (
		PRODUCT_CODE VARCHAR(20) NOT NULL,
		TITLE VARCHAR(200) NOT NULL,
		ORI_PRICE INT,
		DISCOUNT_PRICE INT,
		DISCOUNT_PERCENT INT,
		DELIVERY VARCHAR(2),
		PRIMARY KEY(PRODUCT_CODE)
		);
"""

cursor.execute(sql)

0

In [14]:
sql = 'show tables'
cursor.execute(sql)
result = cursor.fetchall()
result

(('product',),)

In [15]:
#삽입, 갱신, 삭제 등이 모두 끝났으면 Connection 객체의 commit() 메서드를 사용하여 데이타를 Commi
db.close()

In [16]:
import pymysql
db = pymysql.connect(host='localhost', port=3306,user='root',passwd='1234', charset='utf8')

In [ ]:
#데이터베이스 커서 가지고 오기
cursor= db.cursor()

In [ ]:
#데이터베이스 사용 알려주기
sql = 'use ecommerce'
cursor.execute(sql)


#새로운 테이블 만들기
sql = '''
    CREATE TABLE IF NOT EXISTS product2 (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
'''

cursor.execute(sql)

0

In [ ]:
#테이블을 만드는 DDL언어의 경우 거의 autocommit이 적용되어있다.
db.commit()

#연결 닫기
db.close()

## 데이터 삽입
- Cursor Object 가져오기: cursor = db.cursor()
- SQL 실행하기: cursor.execute(SQL)
- 실행 mysql 서버에 확정 반영하기: db.commit()

In [ ]:
import pymysql
#db 연결하기
db = pymysql.connect(host='localhost', port=3306,user='root',passwd='1234', charset='utf8')
#커서 가지고오기
cursor = db.cursor()

In [ ]:
sql = 'use ecommerce'
cursor.execute(sql)

for index in range(10):
	product_code = 216573150 + index + 1
	sql = """INSERT INTO product2 VALUES(
	'""" + str(product_code)+  """', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'); """
	print(sql)
	cursor.execute(sql)

In [ ]:
db.commit()

db.close()

## 데이터 조회(SELECT)
 - Cursor Object 가져오기: cursor = db.cursor()
 - SQL 실행하기: cursor.execute(SQL)
 - mysql 서버로부터 데이터 가져오기: fetch 메서드 사용
	- fetchall(): Fetch all the rows
 	- fetchmany(size=None): Fetch several rows
 	- fetchone(): Fetch the next row

In [31]:
import pymysql
#db 연결하기
db = pymysql.connect(host='localhost', port=3306,user='root',passwd='1234', charset='utf8')
#커서 가지고오기
cursor = db.cursor()

In [37]:
#db 사용
sql = 'use ecommerce'
cursor.execute(sql)

#prodcut2 테이블 조회
sql = 'select * from product2'
cursor.execute(sql)
#10개 반환

10

In [38]:
result = cursor.fetchone()
result

('216573151', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [39]:
result = cursor.fetchall()
result

(('216573152', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573153', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573154', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573155', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573156', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573157', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573158', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573159', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573160', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'))

In [40]:
db.close()

## 데이터 수정(UPDATE)
 - Cursor Object 가져오기: cursor = db.cursor()
 - SQL 실행하기: cursor.execute(SQL)
 - 실행 mysql 서버에 확정 반영하기: db.commit()

In [41]:
import pymysql
#db 연결하기
db = pymysql.connect(host='localhost', port=3306,user='root',passwd='1234', charset='utf8')
#커서 가지고오기
cursor = db.cursor()

In [42]:
#사용할 데이터베이스 선택
sql = 'use ecommerce'
cursor.execute(sql)

0

In [ ]:
#sql 구문 만들기

sql = """
			UPDATE product2 SET 
			TITLE='하늘하늘 원피스 썸머 스페셜 가디건', 
			ORI_PRICE=33000, 
			DISCOUNT_PRICE=9900, 
			DISCOUNT_PERCENT=70 
			WHERE PRODUCT_CODE='216573151';
			"""

#sql 구문 실행
cursor.execute(sql)
#커밋하기
db.commit()

In [ ]:
#업데이트 된거 확인하기
#select로 선택, fetchall()로 결과 가지고 오기
sql = "select * from product2 where PRODUCT_CODE = '216573151'"

cursor.execute(sql)
result = cursor.fetchall()
result

(('216573151', '하늘하늘 원피스 썸머 스페셜 가디건', 33000, 9900, 70, 'F'),)

In [ ]:
#작업 완료, 데이터베이스 닫기
db.close()

## 데이터 삭제(DELETE)
- Cursor Object 가져오기: cursor = db.cursor()
- SQL 실행하기: cursor.execute(SQL)
- 실행 mysql 서버에 확정 반영하기: db.commit()

In [48]:
import pymysql
#db 연결하기
db = pymysql.connect(host='localhost', port=3306,user='root',passwd='1234', charset='utf8')
#커서 가지고오기
cursor = db.cursor()

In [51]:
#데이터 베이스 선택
sql = 'use ecommerce'
cursor.execute(sql)

#삭제 쿼리문 작성
sel = "DELETE FROM product2 where product_code='216573151'"
cursor.execute(sql)

db.commit()

#삭제 잘 됐는지 select로 결과 값 확인
sel = "select * from product2 wehre product_code='216573151'"
cursor.execute(sql)
result = cursor.fetchall()
result # [] 삭제되서 빈 리스트 반환

db.commit()
db.close()